.form {

    &-task {
        position: relative;
        border: 1px dashed var(--palet-1c);
        padding: 12px 16px;
        border-radius: 6px;

        input[type="text"]:not(.browser-default) {
            border: none;
            margin: 0;
            padding: 0;
            height: auto;
            box-shadow: none;
            line-height: 13px;
            font-size: 0.9rem;
            width: calc(100% - 35px);

            &:focus {
                outline: none;
                border-bottom: 0;
                box-shadow: none;
            }
        }

        .character-counter{
            position: absolute;
            right: 1px;
            bottom: -18px;
            font-size: 11px !important;
        }

        .btn {
            padding:0;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right: 9px;
            height: 30px;
            width: 30px;
            line-height: normal;
            box-shadow: none;

            .material-icons{
                line-height: normal;
            }

        }
    }

    &-edit {
        background: white;
        padding: 16px 8px;
        border-radius: 6px;
    }
}

.wrapper-radios {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.input-field>label {
    pointer-events: none;
}

// selector de tipo de tarea
.dropdown-content li{
    display: flex;
    align-items: center;
    img {
        width:30px;
        height:30px;
        margin-right: 0;
    }
    a {
        width: 100%;
        color: inherit;
        &.active {
            background: var(--palet-1a);
            color: white;
        }
    }
}

// change color by default
[type=radio].with-gap:checked+span:after {
    background-color: var(--palet-1c);
}
[type=radio].with-gap:checked+span:after,
[type=radio].with-gap:checked+span:before{
    border-color:  var(--palet-1c);
}