.h-pointer-none{
    pointer-events: none;
}

.p-16 {
    padding:16px;
}

.p-24 {
    padding:24px;
}

.h-margin-0{
    margin:0;
}

.invisible{
    display: none;
}

.transparent{
    opacity:0.4;
}

.h-mb-0{
    margin-bottom:0;
}